{% extends 'base.html.twig' %}

{% block title %}Foot 404{% endblock %}

{% block body %}



    <div class="col-12">
        <div class="row">
            <div class="col-12">

                <body style="background-color:#8f8d8d;">
                </body>
                <div class="jumbotron" style="background-color: #333333;">
                    <div class="text text-center">




                      <p style="color: #ffffff;">Bienvenue sur Foot404.</p>
                        <!--<body style="background=#c14646;"></body>--!>
                        <!-- <p></p> --!>
                    </div>
                    </div>
                </div>
            {% for i in 1..1 %}
            <div class="imgAccueilDIV" style="margin-left: auto;margin-right: auto">





                <img src="{{ asset('images/foot'~'.jpg') }}"
                     class="rounded img-fluid" alt="foot">



            </div>
            {% endfor %}

        </div>

        </div>


    </div>

{% endblock %}
