{% extends 'base.html.twig' %}

{% block title %}Foot 404{% endblock %}

{% block body %}



    <div class="col-12">
        <div class="row">
            <div class="col-12">

                <body style="background-color:#ebebeb; font-family: cursive">
                </body>
                <div class="jumbotron" style="background-color: #333333;">
                    <div class="text text-center">




                      <p style="color: #ffffff;">Bienvenue sur Foot404.</p>
                      <p style="color: #ffffff;">Vous trouverez sur ce site tous les meilleurs ballons de n'importe quelle taille.</p>
                      <p style="color: #ff0000; font-size: 14px">La taille 3 est pour les moins de 8 ans, la taille 4 pour les enfants de 8 à 12 ans et la taille 5 pour les joueurs de plus de 13 ans.</p>
                        <!--<body style="background=#c14646;"></body>--!>
                        <!-- <p></p> --!>
                    </div>
                    </div>
                </div>
            {% for i in 1..1 %}
            <div class="imgAccueilDIV" style="margin-left: auto;margin-right: auto">





                <img src="{{ asset('images/foot'~'.jpg') }}"
                     class="rounded img-fluid" alt="foot" style="border-radius: 5%!important; clip-path: polygon(50% 5%, 100% 0%, 100% 98%, 0% 98%, 0% 0%)">



            </div>
            {% endfor %}

        </div>

        </div>


    </div>

{% endblock %}
