{% extends 'base.html.twig' %}

{% block title %}Foot 404{% endblock %}

{% block body %}



    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <body style="background-color:#8f8d8d;">
                </body>
                <div class="jumbotron">
                    <div class="text text-center">




                      <p style="color: #000000;">Bienvenue sur Foot404.</p>
                        <!--<body style="background=#c14646;"></body>--!>
                        <!-- <p></p> --!>
                    </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">

            {% for i in 1..4 %}
                <div class="col-2">
                    <figure>
                    <img src="{{ asset('images/Ballon'~i~'.jpg') }}"
                         class="rounded img-fluid " alt="Ballon">
                        <figcaption>Ballon de foot: </figcaption>
                    </figure>
                </div>
            {% endfor %}

                <img src="{{ asset('images/images'~ '.jpg') }}"

        </div>
    </div>

{% endblock %}
