{% extends 'base.html.twig' %}

{% block title %}Foot 404{% endblock %}

{% block body %}


    <nav class="navbar navbar-expand-lg navbar-light bg-dark"> </nav>
    <div class="col-12">
        <div class="row">
            <div class="col-12">

                <body style="background-color:#ebebeb; font-family: cursive;">
                </body>
                    <!-- <div class="jumbotron" style="background-color: #333333;margin-bottom: 0rem;margin-left: -1rem;margin-right: -15px;">
                            <div class="text text-center">




                              <p style="color: #ffffff;">Bienvenue sur Foot404.</p>
                              <p style="color: #ffffff;">Vous trouverez sur ce site tous les meilleurs ballons de n'importe quelle taille.</p>
                              <p style="color: #ff0000; font-size: 14px">La taille 3 est pour les moins de 8 ans, la taille 4 pour les enfants de 8 à 12 ans et la taille 5 pour les joueurs de plus de 13 ans.</p>

                            </div>
                        </div>-->
            </div>
            {% for i in 1..1 %}
            <div class="imgAccueilDIV" style="margin-left: auto;margin-right: auto">





                <img src="{{ asset('images/campnou.jpg') }}"
                     class="rounded img-fluid" alt="foot" style=" background-clip: text; -webkit-background-clip: text; color: transparent;-webkit-filter: blur(1px);">
                <div class="divImg">
                    <div class="divTxt" style="text-align: center;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: white;">
                        <h1 style="text-transform: uppercase; text-shadow: black 0.1em 0.1em 0.2em"> Bienvenue sur Foot 404 </h1>
                        <h5 style="transform: translate(0rem, 5rem);color: white; text-shadow: black 0.1em 0.1em 0.2em">Içi, vous trouverez nos meilleures sélections pour de meilleurs qualités.</h5>
                    </div>
                </div>



            </div>
            {% endfor %}

        </div>

        </div>


    </div>

{% endblock %}
